# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
Frontend/.env
Backend/.env

# Node
node_modules/
Frontend/node_modules/
Frontend/dist/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store